<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
{{message}}
<ul>
    <li v-for="(it,index) in arr">
        {{index+1}}这是 :{{it}}</li>
</ul>
<ul>
    <li v-for="item in campus">
        这是 :{{item}}</li>
</ul>
    </div>
    <script>
        var app=new Vue({
        el:"#app",
        data:{
            message:"first",
        arr:["北京","上海"],
        campus:["广州","2","3","4"]
    
    
    }}
        )
    </script>
</body>
</html>